body	{
	margin: 0;
	background: white;
	font-family: arial;
}
header	{
	background:#000;
	color:#999;
	padding:10px;
}
header h1	{
	margin: 0;
	font-family: calibri;
	list-style-type: none;
	display: inline;
}
nav ul{
	display: inline;
}
nav, li, a{
	color: white;
	font-family: comic sans ms;
	text-decoration: none;
	padding: 5px 20px 5px 20px;
	display: inline-block;
}
.dir{
	color: Black;
	font-family: open sans;
	font-size: 48px;
	padding: 5px 10px 5px 10px;
	background: white;
	/*border-radius: 5%;*/
	margin-top: 5%;
	text-align: center;
}
.dir2{
	color: Black;
	font-family: open sans;
	font-size: 20px;
	padding: 5px 10px 5px 10px;
	/*background: white;*/
	margin-top: 4%;
	margin-left: 3%;
	margin-right: 4%;
	margin-bottom: 4%;
	/*border-radius: 5%;*/
}
.dir_desc{
	color: Black;
	font-family: open sans;
	font-size: 20px;
	padding: 5px 10px 5px 10px;
	background: white;
	margin-top: 4%;
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 4%;
	/*border-radius: 5%;*/
}
.dir_note{
	color: Black;
	text-align: center;
	font-family: open sans;
	font-size: 25px;
}
.dir_img a{
	color: Black;
	font-size: 24px;
}
.dir_img{
	text-decoration: none;
	padding: 10px 10px 10px 10px;
	text-align: center;
	width: 300px;
	display: inline-block;
}
.footer{
	color: white;
	font-size: 16px;
	font-family: Open Sans;
	font-style: bold;
	position: relative;
	text-align: center;
	bottom: -62px;
	background: black;
	padding: 5px 5px 5px 5px;
}
.homefooter{
	color: white;
	font-size: 12px;
	font-family: Open Sans;
	font-style: bold;
	position: relative;
	text-align: center;
	bottom: -322px;
	background: black;
	padding: 5px 5px 5px 5px;
}