@font-face {
	font-family: SF Pro Display;
	src: url(sansation_light.SF-Pro-Display-Medium.ttf);
}
body{
	margin:0;
	background: white;
	font-family: SF Pro Display;
}
.MiscBody{
	margin:0;
	background: #2B2F4A;
	font-family: SF Pro Display;
}
.navbar-nav > li{
	padding-left:20px;
	padding-right:20px;
	margin-left:20px;
	padding:7px;
	font-size:16px;
	color:black;
}
.navbar-nav > a{
	font-size: 180%;
}
.Right_Option, .ul2{
	display: inline;
	margin: 0.66%;
	line-height: 150%;
	text-align: right;
	position: fixed;
	bottom: 20%;
	font-size: 20px;
	right:20px;
}
.Right_Option, .li2, .a2{
	text-decoration: none;
	color: black;
}
.email{
	margin: 0.66%;
	text-align: left;
	position: fixed;
	bottom: 150px;
	left: -90px;
	font-size: 20px;
	transform:rotate(-90deg);
}
.list-unstyled{
	display: flex;
	flex-wrap: wrap;
}
.list-unstyled > .Empty {
	width: 34.23%;
	height: 0;
	margin: 0.66%;
	margin-left: 7.25%;
	margin-top: 14%;
	line-height: 65px;
}
.list-unstyled > .Opening {
	width: 50.55%;
	height: 552px;
	margin: 0.66%;
	margin-top: 14%;
	line-height: 65px;
}
.list-unstyled > .AboutMeContain {
	width: 34.23%;
	height: 650px;
	margin: 0.66%;
	margin-top: 10px;
	margin-left: 7.25%;
	margin-bottom: 0%;
	line-height: 65px;
	font-size:300%;
}
.list-unstyled > .AboutMe {
	width: 50.55%;
	height: 650px;
	margin: 0.66%;
	margin-top: 10px;
	margin-bottom: 0%;
	line-height: 40px;
	font-size:180%;
}
.list-unstyled > .Orange1{
	background-color: orange;
	margin-top: 0.66%;
	margin-right: 0%;
	margin-left: 0.99%;
	margin-bottom: 0%;
	width: 5%;
	height: auto;
}
.Opening_POS{
	text-align: left;
}
.Opening1{
	font-size:450%;
	font-weight: 700;
}
.Opening2{
	font-size:225%;
}
.AboutMeTitle{
	font-size:48px;
	font-weight: 700;
}
.Prof_Img{
	border-color: black;
}
.list-unstyled > .CheckTitle {
	width: 86.1%;
	height: 100px;
	margin-right: 0.66%;
	margin-top: 0%;
	margin-left: 7.25%;
	margin-bottom: 6.5%;
	line-height: 150px;
	font-size: 40px;
	text-align: center;
}
.list-unstyled > .Orange2{
	background-color: orange;
	margin-top: 0%;
	margin-right: 0%;
	margin-left: 0.99%;
	margin-bottom: 0%;
	width: 5%;
	height: auto;
}
.list-unstyled > .SkillsTitle {
	width: 34.23%;
	height: 150px;
	margin: 0.66%;
	margin-top: 10px;
	margin-left: 7.25%;
	line-height: 70px;
	font-size: 300%;
	font-weight: 700;
}
.list-unstyled > .Skill1 {
	width: 3.75%;
	height: 230px;
	margin: 0.66%;
	margin-top: 95px;
	margin-right: 7%;
	line-height: 65px;
	text-align: center;
	font-size: 180%;
}
.list-unstyled > .Skill2 {
	width: 5%;
	height: 230px;
	margin: 0.66%;
	margin-top: 95px;
	margin-right: 7%;
	line-height: 65px;
	text-align: center;
	font-size: 180%;
}
.list-unstyled > .OrganizationTitle {
	width: 34.23%;
	height: 150px;
	margin: 0.66%;
	margin-top: 10px;
	margin-left: 7.25%;
	font-size: 300%;
	line-height: 70px;
	font-weight: 700;	
}
.list-unstyled > .Organization1 {
	width: 14.5%;
	height: 400px;
	margin: 0.66%;
	margin-top: 95px;
	margin-bottom: 0%;
	line-height: 65px;
	font-size: 180%;
	text-align: center;
	margin-right: 7.90%;
}
.list-unstyled > .Organization2 {
	width: 15.78%;
	height: 400px;
	margin: 0.65%;
	margin-top: 95px;
	margin-bottom: 0%;
	line-height: 65px;
	font-size: 180%;
	text-align: center;
	margin-right: 12.38%;
}
.list-unstyled > .Yellow1{
	background-color: #F0E60B;
	margin: 0.66%;
	margin-right: 0%;
	margin-left: 0.99%;
	margin-bottom: 0%;
	margin-top: 6.3%;
	width: 5%;
	height: auto;
}
.list-unstyled > .CommitteeTitle {
	width: 34.23%;
	height: 150px;
	margin: 0.66%;
	margin-top: 10px;
	margin-left: 7.25%;
	font-size: 300%;
	line-height: 70px;
	font-weight: 700;
}
.list-unstyled > .Committee {
	width: 50.55%;
	height: 515px;
	margin: 0.66%;
	margin-top: 88px;
	line-height: 65px;
	font-size: 180%;
}
.list-unstyled > .Yellow2{
	background-color: #F0E60B;
	margin-top: 0%;
	margin-right: 0%;
	margin-left: 0.99%;
	margin-bottom: 0%;
	width: 5%;
	height: auto;
}
.list-unstyled > .EducationTitle {
	width: 34.23%;
	height: 150px;
	margin: 0.66%;
	margin-left: 7.25%;
	font-size: 300%;
	line-height: 70px;
	font-weight: 700;
}
.list-unstyled > .Education {
	width: 50.55%;
	height: 745px;
	margin: 0.66%;
	margin-top: 85px;
	line-height: 65px;
	font-size: 180%;
}
.list-unstyled > .ContactTitle {
	background-color: #2B2F4A;
	width: 100%;
	height: 200px;
	line-height: 65px;
	font-size: 40px;
	text-align: center;
	font-weight: 700;
}
.list-unstyled > .ContactPicture {
	background-color: #2B2F4A;
	width: 22%;
	height: 330px;
	margin: 0;
	line-height: 65px;
}
.list-unstyled > .Border22 {
	background-color: #2B2F4A;
	width: 6%;
	margin: 0;
}
.list-unstyled > .Copyright {
	background-color: #2B2F4A;
	width: 100%;
	height: 50px;
	font-size: 20px;
	text-align: center;
}
.center, .ContactPicture .a3{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.list-unstyled > .GTitle {
	width: 100%;
	height: 234px;
	line-height: 120px;
	font-size: 250%;
	text-align: center;
	font-weight: 700;
}
.list-unstyled > .GPicture {
	width: 26%;
	height: 400px;
	margin: 0;
	line-height: 150px;
	text-align: center;
	font-size: 180%;
	color: white;
}
.list-unstyled > .Border2 {
	width: 16%;
	height: auto;
	margin: 0;
	line-height: 65px;
}